body {
    background-image: url("./img/bg-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: hsl(257, 40%, 49%);
    margin: 70px 50px 50px 50px;
}

#logo {
    width: 200px;
    margin-bottom: 35px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

main img {
    width: 700px;
    height: 500px;
}

section {
    padding-top: 10px;
    margin-left: 100px;
}

section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 39px;
    font-weight: 600;
    color: #FCFEF9;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #E3D2F9;
}

button {
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    color: hsl(257, 40%, 49%);
    font-size: 15px;
    font-weight: 400;
    border-radius: 35px;
    border-color: #E3D2F9;
    border-style: solid;
}

footer i {
    color: #E3D2F9;
    float: right;
    padding: 10px;
    border: 0.5px solid #E3D2F9;
    border-radius: 45px;
    margin: 10px;
}