body {
    background-image: url("./img/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
}

#logo {
    margin-top: 35px;
    margin-left: 70px;
    width: 200px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 70px;
}

main img {
    width: 700px;
    height: 500px;
}

section {
    padding-top: 45px;
    margin-left: 125px;
}

section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #FCFEF9;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #E3D2F9;
}

button {
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    color: hsl(257, 40%, 49%);
    font-size: 15px;
    font-weight: 400;
    border-radius: 35px;
    border-color: #E3D2F9;
    border-style: solid;
}